body{
    background-color: rgba(221, 225, 230, 0.705);
}
.contenedor__total {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iniciar{
  background: #17078f;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.iniciar:hover{
    border:2px solid #17078f;
    color: #17078f;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:800px){
    .nav button {
        font-size: 13px;
    }
}

