*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: rgba(221, 225, 230, 0.705);
}
.misClases {
  background-color: #17078f;
  color: #fff;
}
.misClases:hover{
  background-color: #fff;
  color: #17078f;
  border-color: #17078f;
}